<div style="margin-bottom: 2.0em;">
      <h3>Remaining Leaves:</h3>
      <div>
        <label>Casual: 5</label>
      </div>
      <div>
        <label>Sick: 5</label>
      </div>
      <div>
        <label>Restricted: 5</label>
      </div>
</div>

 <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100 ver1">
        <div class="table100-head">
          <table>
            <thead>
              <tr>
                <th class="column2">Date From</th>
                <th class="column2">Date To</th>
                <th class="column2">Leave Type</th>
                <th class="column2">Status</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="table100-body">
          <table>
            <tbody>
              <tr>
                <td class="column2">11/11/1998</td>
                <td class="column2">11/11/1998</td>
                <td class="column2">Casual</td>
                <td class="column2">Pending</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
